<?xml version="1.0"?>
<config>
	<modules>
		<OhPolly_QuickShop>
			<version>0.0.1</version>
		</OhPolly_QuickShop>
	</modules>
	<frontend>
		<routers>
			<quickshop>
				<use>standard</use>
				<args>
					<module>OhPolly_QuickShop</module>
					<frontName>quickshop</frontName>
				</args>
			</quickshop>
		</routers>
		<layout>
			<updates>
				<quickshop>
					<file>quickshop.xml</file>
				</quickshop>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<quickshop>
				<class>OhPolly_QuickShop_Helper</class>
			</quickshop>
		</helpers>
		<blocks>
			<quickshop>
				<class>OhPolly_QuickShop_Block</class>
			</quickshop>
		</blocks>
		<models>
			<quickshop>
				<class>OhPolly_QuickShop_Model</class>
				<resourceModel>quickshop_mysql4</resourceModel>
			</quickshop>
			<quickshop_mysql4>
				<class>OhPolly_QuickShop_Model_Mysql4</class>
				<entities>
					<quickshop>
						<table>a_ohpolly_quickshop</table>
					</quickshop>
				</entities>
			</quickshop_mysql4>
		</models>
		<resources>
			<quickshop_setup>
				<setup>
					<module>OhPolly_QuickShop</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</quickshop_setup>
			<quickshop_write>
				<connection>
					<use>core_write</use>
				</connection>
			</quickshop_write>
			<quickshop_read>
				<connection>
					<use>core_read</use>
				</connection>
			</quickshop_read>
		</resources>
	</global>
	<admin>
		<routers>
			<quickshop>
				<use>admin</use>
				<args>
					<module>OhPolly_QuickShop</module>
					<frontName>admin_quickshop</frontName>
				</args>
			</quickshop>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<cms module="quickshop">
				<children>
					<quickshop module="quickshop">
						<title>QuickShop</title>
						<sort_order>100</sort_order>
						<action>admin_quickshop/adminhtml_quickshop</action>
					</quickshop>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cms translate="title" module="quickshop">
							<children>
								<quickshop translate="title">
									<title>QuickShop</title>
								</quickshop>
							</children>
						</cms>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quickshop>
					<file>quickshop.xml</file>
				</quickshop>
			</updates>
		</layout>
	</adminhtml>
</config> 