<?xml version="1.0"?>
<config>
  <modules>
    <OhPolly_QuickShop>
      <version>0.0.1</version>
    </OhPolly_QuickShop>
  </modules>
  <frontend>
    <routers>
      <quickshop>
        <use>standard</use>
          <args>
            <module>OhPolly_QuickShop</module>
            <frontName>quickshop</frontName>
          </args>
      </quickshop>
    </routers>
		<layout>
		  <updates>
			<quickshop>
			  <file>quickshop.xml</file>
			</quickshop>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <quickshop>
        <class>OhPolly_QuickShop_Helper</class>
      </quickshop>
    </helpers>
	<blocks>
	  <quickshop>
		<class>OhPolly_QuickShop_Block</class>
	  </quickshop>
	</blocks>
	<resources>
	  <quickshop_setup>
		<setup>
		  <module>OhPolly_QuickShop</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </quickshop_setup>
	  <quickshop_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </quickshop_write>
	  <quickshop_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </quickshop_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <quickshop>
	    <use>admin</use>
		<args>
		  <module>OhPolly_QuickShop</module>
		  <frontName>admin_quickshop</frontName>
		</args>
	  </quickshop>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <quickshop module="quickshop">
		<title>QuickShop</title>
		<sort_order>100</sort_order>
		<children>
		  <quickshopbackend module="quickshop">
			<title>QuickShop Management</title>
			<sort_order>0</sort_order>
			<action>admin_quickshop/adminhtml_quickshopbackend</action>
		  </quickshopbackend>
		</children>
	  </quickshop>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<quickshop translate="title" module="quickshop">
			  <title>QuickShop</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <quickshopbackend translate="title">
			<title>QuickShop Management</title>
		  </quickshopbackend>
			  </children>
			</quickshop>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<quickshop>
		  <file>quickshop.xml</file>
		</quickshop>
	  </updates>
	</layout>
  </adminhtml>
</config> 